<!doctype html>
<html>
<head>
		<title>lbk.dk</title>
</head>
<body>
	<h1>LBK database</h1>
	
		 	
		<li>{% block content2 %}

				replace me
			
			{% endblock content2 %}</li>

		<li>{% block content3 %}

				replace me

			{% endblock content3 %}</li>
		
		<li>{% block content4 %}

				replace me

			{% endblock content4 %}</li>

		<li>{% block content5 %}

				replace me

			{% endblock content5 %}</li>


	{% block content %}
		replace me
	{% endblock content %}

	{% block content6 %}
		replace me
	{% endblock content6 %}

	{% block content7 %}
		replace me
	{% endblock content7 %}
	

	</body>
	
</html>