{% extends 'base.html' %}

{% block content %}
	<h1>profil</h1>
	<p>LBK</p>
{% endblock content %}


{% block content2 %}

	<a href = "" >profil</a>
			
{% endblock content2 %}

{% block content3 %}

	<a href = "/projekt" >projekter</a>

{% endblock content3 %}
		
{% block content4 %}

	<a href = "/projekt/create" >opret projekt</a>

{% endblock content4 %}

{% block content5 %}

	<a href = "/projekt/logout" >logud</a>

{% endblock content5 %}


{% block content6 %}
	
	

{% endblock content6 %}

{% block content7 %}

	
	
{% endblock content7 %}