{% extends 'base.html' %}

{% block content %}
	<h1>projekter</h1>

	{% for instance in object_list %}

		<p>{{ instance.dato }} - <a href='{{ instance.get_absolute_url_detail }}'>{{ instance.titel }}</a></p>

	{% endfor %}

{% endblock content %}

{% block content2 %}

	<a href = "profil/" >profil</a>
			
{% endblock content2 %}

{% block content3 %}

	<a href = "/projekt" >projekter</a>

{% endblock content3 %}
		
{% block content4 %}

	<a href = "create/" >opret projekt</a>

{% endblock content4 %}

{% block content5 %}

	<a href = "logout/" >logud</a>

{% endblock content5 %}


{% block content6 %}
	
	

{% endblock content6 %}

{% block content7 %}

	
	
{% endblock content7 %}



