{% extends 'base.html' %}

{% block content %}
	<form action='.' method='POST'> {% csrf_token %}
		<h1>Vil du slette dette projekt "{{ object_delete.titel }}"?</h1>
		<p><input type='submit' value='yes' /> <a href='../'>Cancel</a></p>
	</form>

{% endblock content %}

{% block content2 %}


			
{% endblock content2 %}

{% block content3 %}



{% endblock content3 %}
		
{% block content4 %}



{% endblock content4 %}

{% block content5 %}



{% endblock content5 %}


{% block content6 %}
	
	

{% endblock content6 %}

{% block content7 %}

	
	
{% endblock content7 %}

